@media screen and (min-width:1200px) {
	header .navbar-light .navbar-nav .navbar-brand {
    padding: 0 2rem;
}
	
}
@media screen and (max-width:1024px) {
	header .navbar-light .navbar-nav a{
		font-size: 13px;
	}
	.icon-menu li a {
		padding: .5rem 0.3rem;
	}
	header .navbar-light .navbar-nav .navbar-brand {
		padding: 0 0rem;
	}
	.featured-section .roses h2 {
		padding: 1rem;
	}
	.featured-section .season .caption{    
		top: 1rem;
		left: 1rem;
	}
	.featured-section .season .caption span{
		font-size: 2rem;
	}
	.featured-section .weekend .caption{
		padding: 3rem 2rem;
	}
	.featured-section .weekend .caption a{
		margin-top: 1rem;
	}
	.featured-section .wedding p{
		padding: 1rem;
	    font-size: 1.2rem;
	}
	.selling-section p{
		font-size: 1rem;
		color: #444;
		text-shadow:none;
		position:relative;
		padding:0 0.5rem;
	}
	.selling-section .pro-wrap.main-pro a:after{
		width: 112px;
		height: 113px;
		background-size: 100%;
	}
	.selling-section .pro-wrap a:after{
		width: 52px;
		height: 53px;
	    background-size: 100%;
	}
	.inner-page .selling-section p span {
		display: block;
		font-size: 2rem;
	}
	.page-title {
		padding: 2rem;
	}
	.empty-box {
		right: 0rem;
	}
	.share-box ul li a{
		margin-bottom: 10px;
	}
}

@media screen and (max-width:991px) {
	.header_banner header {
		position: relative;
		background:#f1f1f1;
	}
	header .navbar-light .navbar-nav a::after {
		display:none;
	}
	
}
@media screen and (max-width:855px) {
	.featured-section .season .caption{
		font-size: 18px;
		padding: 1rem;
	}
	.featured-section .season .caption span{
	    font-size: 1.8rem;
	}
	.featured-section .season .caption {
		top: 0.5rem;
		left: 0.5rem;
	}
	.featured-section h2{
		font-size: 1.4rem;
	}
	.featured-section .wedding p{
		display: none;
	}
	.featured-section .wedding h2{
		    bottom: 1.5rem;
			top:auto;
	}
	.page-title {
		padding: 1rem;
	}
	
}
@media screen and (max-width:767px){
	.featured-section .love img, 
	.featured-section .roses img, 
	.featured-section .wedding img, 
	.featured-section .season img, 
	.featured-section .weekend img{
		display:block;
		margin:0 auto;
	}
	.featured-section h2 {
		font-size: 1.8rem;
	}
	.featured-section .roses h2 {
		padding: 0.5rem;
		width: 100%;
		top: auto;
		background: rgba(255, 255, 255, 0.5);
	}
	.featured-section .roses h2 br{
		display:none;
	}
	.featured-section .season .caption {
		top: 7rem;
		left: 7rem;
		width: 68%;
	}
	.featured-section .weekend .caption {
	    right: 6rem;
		top: 5rem;
	}
	.bottom-footer{
		text-align:center;
	}
}
@media screen and (max-width:575px){
	.featured-section .season .caption {
		top: 7rem;
		left: 5rem;
		width: 68%;
	}
	.featured-section .weekend .caption {
		right: 0rem;
		top: 5rem;
	}
	.inn-page-header {
		padding-bottom: 2rem;
	}
	.inn-page-header > img{
		margin-top: 2rem;
	}
	.page-title{
		position: relative;
		top: 0;
		background-size: contain;
	}
	.empty-box {
		display:none;
	}	
	.related-pro p{
		position:relative;
		padding:0.5rem;
		color:#444;
		text-shadow:none;
		margin-bottom:1.3rem;
		font-size: 1.9rem;
	}
	.related-pro p br{
		display:none;
	}
	.product-info input[type="text"]{
		margin-bottom:1rem;
	}
	.related-product h1{
		font-size:1.9rem;
	}

}
@media screen and (max-width:480px){
	.featured-section .season .caption {
		top: 4rem;
		left: 4rem;
	}
	.featured-section .weekend .caption {
		top: 2rem;
	}
	
	
}
@media screen and (max-width:360px){
	.featured-section .season .caption {
		top: 1rem;
		left: 1rem;
		width: 88%;
	}
	
}
@media screen and (max-width:320px){
	.featured-section .weekend .caption {
		top: 0rem;
	}
	.featured-section .weekend .caption {
		padding: 2rem 1rem;
	}
	
}
